{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <title>Flying</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet">
  </head>
  <body id="cuerpo" class="container my-5">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-3">Flying</h1>
        <p class="lead">Tu asesor de vuelos!</p>
      </div>
    </div>
    <form id="formREST" method="POST" action="{% url 'wish-list' %}">
      {% csrf_token %}
      {{ form }}
      <button id="enviar" class="btn btn-outline-primary">
        Guardar
      </button>
    </form>

    <div id="resultWish">
      <h3 class="my-4">Resultados de la busqueda</h3>
      <table class="table table-responsive">
          <thead>
          <tr>
              <th scope="col">Nombre Completo</th>
              <th scope="col">Celular</th>
              <th scope="col">Fecha Partida</th>
              <th scope="col">Fecha Retorno</th>
              <th scope="col">Ciudad Partida</th>
              <th scope="col">Ciudad Llegada</th>
              <th scope="col">Escalas (Sí/No)</th>
          </tr>
          </thead>
          <tbody id="tabla">
          </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script src="{% static "js/formWish.js" %}"></script>
    
  <body>
</html>